services:
  client:
    build: 
      context: './client'
      dockerfile: Dockerfile
    ports:
      - "5005:80"
    depends_on:
      - server
    volumes:
       - ./client:/app
       - /app/node_modules
  server:
    build: 
      context: './server'
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
       - ./server:/app
       - /app/node_modules
    depends_on:
      - db
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://academy:academy@solita_dev_academy_2026-db-1:5432/electricity?schema=public
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: academy
      POSTGRES_PASSWORD: academy
      POSTGRES_DB: electricity
    build:
      context: '../dev-academy-spring-2026-exercise'
      dockerfile: Dockerfile
    ports:
      - 5432:5432
networks:
  default:
    driver: bridge